:root {
    --text-color:#777;
    --primary: #007BFF;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height:10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 10px;
}

body {
}
.wrapper{
    height:100vh;
}
.wrapper .content-wrapper {
    margin-top: 3.5rem;
    min-height: calc(100vh - 4.8rem);
}
/* navbar */
.nav__header-item {
    position: relative;
}
.nav__header-item-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #c2c7d0;
    height: 40px;
    align-items: center;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding-left: 20px;
    padding-right: 15px;
}
.nav__item-sublist {
    padding-left: 0;
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    cursor:pointer;
}
.nav__header-item:hover{
    background-color:#494E53;
}
.nav__header-item__option{
    padding-left:25px;
}

.nav__header-item-logo {
    font-size: 1.1rem;
}
.nav__header-item__option > i {
    margin-right: 5px;
    
}
.nav__header-item__text{
    flex:1;
    padding-left:10px;
}
.nav__header-item-icon {

    color: #c2c7d0;
    font-size:0.9rem;
}
#main_content{
    padding: 20px 20px 0 20px;
}
.page-container{
    background-color:#fff;
    border-radius:4px;
    padding:10px 40px 0 40px;
}
/*form*/
.form__select {
    margin-bottom: 30px;
}
.form__select-header {
    text-align:center;
    margin-bottom:50px;
    background-color: var(--primary);
    margin-left:-30px;
    margin-right:-30px;
      
}
.form__select-header-Text{
    color:#ffff;
    margin-bottom:0px;
    padding: 10px;
}
.form__select-input{
    display:flex;
    justify-content:center;
}
.form__select-input form{
    width:100%;
    margin-bottom:20px;
}
.show-data__option
{
    padding: 0 100px;
    margin-bottom:20px;
    width:100%;
}
.form__select-input-container{
    
}
.select__group {
    display:flex;
}
.form-control{
    margin-bottom:20px;
    height:30px;
    margin-right:20px;
}
.select__btn-container {
    display: flex;
    justify-content: center;
}
.show-data__option-btn {
    height: 30px;
    min-width: 100px;
    padding: 0 20px;
    outline: none;
    margin-left: 20px;
    border: 1px solid #333;
    border-radius: 3px;
    background-color: #007BFF;
    color: white;
}
.show-data__option-btn:hover,
.chart__mark-show__btn:hover
{
    background-color: #439bfa;
    color: white;
}
.Table__data{
    margin-bottom:20px;
    
    
}
/* chart */
.chart__mark {
    width: 100%;
}
.chartjs-size-monitor{
    width:100%;
    text-align:center;
}
.chart__mark-btn-group{
    width:100%;
    display:flex;
    justify-content:center;
    

}

.chart__mark-show__btn {
    color: white;
    border-radius:0;
    background-color: #007BFF;
    flex-basis:100%;
}
.chart__mark-char {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.chart__mark-char-pie,
.chart__mark-char-bar {
    max-height:500px;
    width: 1000px;
    position:relative;
    overflow-x:auto;
    
}

.btncontainer {
    display: flex;
    justify-content: left;
}

/*Login */

.login-box {
    background-color: #E9ECEF;
    position:fixed;
    top:0;
    bottom:0;
    width:100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
}
.card_login {
    height: 500px;
    width: 500px;
    margin: 0;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}
.card_login h2{
    text-align:center;
    color:var(--primary);
    margin-bottom:30px;
}
.form-label-login {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 400 !important;
}
.form-input-login{
    height:50px;
    font-size:1.2rem;
}
.form-input-login:focus{
    font-size:1.2rem;
}
.login-sub-option{
    display:flex;
    justify-content:right;
    
}
.login-sub-option .login-sub-option-link{
    color:red;
    cursor:pointer;
}
.btn-submit-container{
    text-align:center;
    margin-top:30px;
}
.login-submit-btn {
    min-width: 150px;
    padding: 10px;
}
.form-disabled{
    display:none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

    #sidebar .sidebar-header {
        padding: 20px;
        background: #343a40;
    }

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        background: #343a40;
    }

    #sidebar ul li a:hover {
        color: #7386D5;
        background: #fff;
    }

    #sidebar ul li.active > a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #343a40;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

        #sidebar.active {
            margin-left: 0;
        }

    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}